*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .app__posts{
    display: inline;
    justify-content: center;
  }

  .modal{
    object-fit: scale-down;
  }
}

.app__postsRight{
  margin-left: 20px;
  }

.app_headerImage{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.imgLogin {
  margin: 50px;
}

.beforeLogin {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .imgLogin {
    max-width: 400px;
    max-height: 400px;
  }
}